---
title: Gallery
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body onresize="update_items_per_slide();">
    <noscript>
        This page heavily relies on Javascript to function. Please turn it on as we do not use any cookies.
    </noscript>

    <div class="slider-container">
        <!-- List of items -->
        {% for item in site.data.items %}
        <a class="slider-item slider-fade slider-box"
            href="{{ site.baseurl }}/fileviewer.html?file={{ site.baseurl }}/assets/documents/{{ item.pdfname }}">
            <!-- Preview image -->
            <img class="slider-img" alt="Cover page for PDF file titled {{ item.title }} named {{ item.pdfname }}." src="{{ site.baseurl }}/assets/covers/{{ item.imgname }}" />
            <!-- Caption -->
            <p class="slider-title">{{ item.title }}</p>
        </a>
        {% endfor %}
    </div>

    <!-- Navigation buttons -->
    <div class="slider-left" onclick="nextSlide(-1)">❮</div>
    <div class="slider-right" onclick="nextSlide(1)">❯</div>
    <div class="slider-resize-add" onclick="zoom(1)">+</div>
    <div class="slider-resize-minus" onclick="zoom(-1)">-</div>

    <script src="{{ site.baseurl }}/assets/indexer.js"></script>
</body>

</html>
