---
title: Gallery
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body>
    <noscript>This page heavily relies on Javascript to function. Please turn it on as we do not use any
        cookies.</noscript>
    <header class="masthead">
        <a href="{{ site.baseurl }}/"><img alt="UWC Changshu China Project Week Logo" class="logo-img" src="{{ site.baseurl }}/assets/logo.png" /></a>
    </header>
    <main class="container">
        <div class="slider-container">
            <!-- List of items -->
            {% for item in site.data.items %}
            <figure class="slider-item slider-fade slider-box"
                onclick="window.location.assign('{{ site.baseurl }}/fileviewer.html?file={{ site.baseurl }}/assets/documents/{{ item.pdfname }}');">
                <!-- Preview image -->
                <img class="slider-img" src="{{ site.baseurl }}/assets/covers/{{ item.imgname }}" />
                <!-- Caption -->
                <figcaption class="slider-title">{{ item.title }}</figcaption>
            </figure>
            {% endfor %}
        </div>
        <!-- Navigation buttons -->
        <div class="slider-left" onclick="nextSlide(-1)">
            <span class="slider-left-arrow">❮</span>
        </div>
        <div class="slider-right" onclick="nextSlide(1)">
            <span class="slider-right-arrow">❯</span>
        </div>
    </main>

    <script>
        var slide_index = 1;
        var items_per_slide_width = 2;
        var items_per_slide_height;
        var items_per_slide;
        update_items_per_slide();

        // Resize image on '+' and '-' pressed
        document.addEventListener('keydown', function (event) {
            if ((event.code == "Plus" ||
                event.code == "Equal" && event.shiftKey == true)
                && items_per_slide_width != 1) {
                items_per_slide_width -= 1;
            }
            else if (event.code == "Minus") {
                items_per_slide_width += 1;
            }
            update_items_per_slide();
        });

        document.addEventListener('gesturechange', function (event) {
            if (e.scale < 1.0) {
                items_per_slide_width += 1;
            } else if (e.scale > 1.0 && items_per_slide_width != 1) {
                items_per_slide_width -= 1;
            }
            update_items_per_slide();
        }, false);

        // Recompute the widths when the window is resized
        document.addEventListener("resize", function (event) {
            update_items_per_slide();
        });

        // Get the total height of an element, exclude main width if STRIP
        function getTotalHeight(element, strip = false) {
            let variables = [strip ? 0 : window.getComputedStyle(element).height,
            window.getComputedStyle(element).borderTopWidth,
            window.getComputedStyle(element).borderBottomWidth,
            window.getComputedStyle(element).paddingTop,
            window.getComputedStyle(element).paddingBottom,
            window.getComputedStyle(element).marginTop,
            window.getComputedStyle(element).marginBottom];
            var result = 0;
            for (var i in variables) {
                let k = parseInt(variables[i]);
                if (!isNaN(k)) {
                    result += k;
                }
            }
            return result;
        }

        // Get the total width of an element, exclude main width if STRIP
        function getTotalWidth(element, strip = false) {
            let variables = [strip ? 0 : window.getComputedStyle(element).width,
            window.getComputedStyle(element).borderLeftWidth,
            window.getComputedStyle(element).borderRightWidth,
            window.getComputedStyle(element).paddingLeft,
            window.getComputedStyle(element).paddingRight,
            window.getComputedStyle(element).marginLeft,
            window.getComputedStyle(element).marginRight];
            var result = 0;
            for (var i in variables) {
                let k = parseInt(variables[i]);
                if (!isNaN(k)) {
                    result += k;
                }
            }
            return result;
        }

        function update_items_per_slide() {
            /* Try to maintain this ratio, while avoiding becoming zero */
            items_per_slide_height = Math.max(Math.floor(items_per_slide_width * 2.0 / 3.0), 1);
            items_per_slide = items_per_slide_height * items_per_slide_width;
            /* Viewport width */
            let docwidth = document.documentElement.clientWidth;
            /* Calculate width of the padding */
            let any_item = document.getElementsByClassName("slider-item")[0];
            let item_extrawidth = getTotalWidth(any_item, true);
            /* Width of every item */
            let width_per_item = docwidth / items_per_slide_width - item_extrawidth;
            /* Height of the header */
            let header = document.getElementsByTagName("header")[0];
            let header_height = getTotalHeight(header);
            let docheight = document.documentElement.clientHeight;
            /* A caption */
            let title = document.getElementsByTagName("figcaption")[0];
            let old_display = title.style.display;
            title.style.display = "block";
            let title_height = getTotalHeight(title);
            /* Restore its display options */
            title.style.display = old_display;
            /* Margin and padding of the figure */
            let item_other = getTotalHeight(document.getElementsByClassName("slider-item")[0], true);
            /* Height of every figure */
            let height_per_item = (docheight - header_height) / items_per_slide_height - title_height - item_other;
            var slides = document.getElementsByClassName("slider-item");
            for (var i = 0; i < slides.length; ++i) {
                slides[i].style.height = Math.floor(height_per_item) + "px";
                slides[i].style.width = Math.floor(width_per_item) + "px";
            }
            fitCaptionText();
            displaySlides(slide_index);
        }

        function getTextRenderedWidth(text, font) {
            var tag = document.createElement('div');
            tag.style.position = 'absolute';
            tag.style.top = '-100%';
            tag.style.whiteSpace = 'nowrap';
            tag.style.font = font;
            tag.innerHTML = text;

            document.body.appendChild(tag);
            let result = tag.clientWidth;
            document.body.removeChild(tag);
            return result;
        }

        function fitCaptionText() {
            var items = document.getElementsByClassName("slider-title");
            for (var i = 0; i < items.length; ++i) {
                let parentWidth = items[i].clientWidth;
                if (isNaN(parentWidth) || parentWidth == 0) {
                    continue;
                }
                var lastresult = 0;
                while (true) {
                    let newWidth = getTextRenderedWidth(items[i].innerText, window.getComputedStyle(items[i]).font);
                    if (newWidth == lastresult || newWidth < parentWidth)
                        break;
                    lastresult = newWidth;
                    console.log(getTextRenderedWidth(items[i].innerText, window.getComputedStyle(items[i]).font), parentWidth);
                    console.log(parseInt(window.getComputedStyle(items[i]).fontSize));
                    items[i].style.fontSize = (parseInt(items[i].style.fontSize) - 1) + "px";
                }
            }
        }

        function nextSlide(n) {
            displaySlides(slide_index += n);
        }

        function currentSlide(n) {
            displaySlides(slide_index = n);
        }

        function displaySlides(n) {
            var i, j;
            var slides = document.getElementsByClassName("slider-item");
            /* Loop back if overflow/underflow */
            if (n > slides.length / items_per_slide) {
                slide_index = 1;
            }
            if (n < 1) {
                slide_index = slides.length;
            }
            for (i = 0; i < (slides.length / items_per_slide); ++i) {
                var display;
                if (i == slide_index - 1)
                    display = "block";
                else
                    display = "none";
                for (j = 0; j < items_per_slide; ++j) {
                    if (i * items_per_slide + j < slides.length) {
                        slides[i * items_per_slide + j].style.display = display;
                    }
                }
            }
        }
    </script>
</body>

</html>