---
title: Gallery
items:
  - title: "Maiyun's Dumb Formulas"
    pdfname: "maiyun.pdf"
    imgname: "maiyun.png"
  - title: "AMC Session"
    pdfname: "renxuan.pdf"
    imgname: "renxuan.png"
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body>

    <!--header class="masthead">
            <h3 class="masthead-title">
                <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
                <small>{{ site.tagline }}</small>
            </h3>
        </header-->
    <main class="container slider-container">
        <!-- List of items -->
        {% for item in page.items %}
        <a class="slider-link" href="{{ site.baseurl }}/fileviewer.html?file={{ site.baseurl }}/assets/documents/{{ item.pdfname }}">
            <figure class="slider-item slider-fade slider-box">
                <!-- Preview image -->
                <img class="slider-img" src="{{ site.baseurl }}/assets/covers/{{ item.imgname }}" />
                <!-- Caption -->
                <figcaption class="slider-title">{{ item.title }}</figcaption>
            </figure>
        </a>
        {% endfor %}
        <!-- Navigation buttons -->
        <div class="slider-left" onclick="nextSlide(-1)">
            <span class="slider-left-arrow">❮</span>
        </div>
        <div class="slider-right" onclick="nextSlide(1)">
            <span class="slider-right-arrow">❯</span>
        </div>
    </main>

    <script>
        var slide_index = 1;
        var items_per_slide = 4;
        displaySlides(slide_index);

        function nextSlide(n) {
            displaySlides(slide_index += n);
        }

        function currentSlide(n) {
            displaySlides(slide_index = n);
        }

        function displaySlides(n) {
            var i;
            var slides = document.getElementsByClassName("slider-item");
            if (n > slides.length) { slide_index = 1 }
            if (n < 1) { slide_index = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[slide_index - 1].style.display = "block";
        }
    </script>
</body>

</html>