<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="google" content="notranslate">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>
    {{ site.title }} | {{ page.title }}
  </title>

  <!--link rel="stylesheet" href="{{ site.baseurl }}/styles.css"-->
  <link rel="apple-touch-icon-precomposed" sizes="144x144"
    href="{{ site.baseurl }}/assets/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/pdfjs_pages/viewer.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">

  <link rel="resource" type="application/l10n" href="{{ site.baseurl }}/assets/pdfjs_pages/locale/locale.properties">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.7.570/pdf.min.js"
    integrity="sha512-g4FwCPWM/fZB1Eie86ZwKjOP+yBIxSBM/b2gQAiSVqCgkyvZ0XxYPDEcN2qqaKKEvK6a05+IPL1raO96RrhYDQ=="
    crossorigin="anonymous"></script>

</head>