body {
    margin: 0;
    background: #e6e6e6;
}

.slider-item {
    display: none;
}

.slide-item img {
    width: 100%;
}

.slider-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slider-left,
.slider-right {
    cursor: pointer;
    position: absolute;
    width: auto;
    top: 50%;
    padding: 16px;
    margin-top: -22px;
    font-weight: bold;
    font-size: 2em;
    transition: 0.6s ease;
}

.slider-left-arrow,
.slider-right-arrow {
    top: 50%;
    color: white;
}

.slider-left {
    left: 0;
    border-radius: 7px 0 0 7px;
}

.slider-right {
    right: 0;
    border-radius: 0 7px 7px 0;
}

.slider-left:hover,
.slider-right:hover {
    background-color: rgba(115, 115, 115, 0.8);
}

.content {
    color: #eff5d4;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.slider-fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes slider-fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes slider-fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}