body {
    margin: 0;
    max-height: 100vh;
    background: white;
}

.container {
    width: 100%;
    max-height: calc(100vh - 16px);
    position: relative;
    margin: auto;
    color: #eff5d4;
    font-size: 30px;
    text-align: center;
}

.slider-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.slider-item {
    z-index: 0;
    display: none;
    margin: 0;
    padding: 5px;
}

.slider-img {
    object-fit: contain;
    margin: auto;
    max-width: 100%;
    width: auto;
    max-height: calc(94% - 10px);
    height: auto;
    background-color: white;
}

.masthead {
    padding: 5px;
}

.logo-img {
    height: 5vh;
    width: auto;
}

.slider-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70%;
    height: 6%;
    color: #444;
    background: #e6e6e6dd;
    padding: 5px 0;
    width: 100%;
    text-overflow: ellipsis;
}

.slider-left,
.slider-right {
    cursor: pointer;
    position: fixed;
    z-index: 1;
    width: 3vw;
    padding: 16px;
    margin: 0;
    top: 45vh;
    height: 9vh;
    font-weight: bold;
    font-size: 2em;
    transition: 0.6s ease;
    background: #e6e6e6aa;
}

.slider-left:hover,
.slider-right:hover {
    background-color: rgba(115, 115, 115, 0.8);
}

.slider-left {
    left: 0;
    border-radius: 0 7px 7px 0;
}

.slider-right {
    right: 0;
    border-radius: 7px 0 0 7px;
}

.slider-left-arrow,
.slider-right-arrow {
    position: fixed;
    top: 47vh;
    height: 4vh;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slider-left-arrow {
    left: 1.5vw;
}

.slider-right-arrow {
    right: 1.5vw;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.slider-fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes slider-fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes slider-fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media only screen and (hover: none) and (pointer: coarse) {
    /* Show zoom */
}