<!DOCTYPE html>
<html lang="en">

{% include index_head.html %}

<body>

    <!--header class="masthead">
            <h3 class="masthead-title">
                <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
                <small>{{ site.tagline }}</small>
            </h3>
        </header-->
    <main class="container slider-container">
        <!-- List of items -->
        {% for post in site.posts %}
        <div class="slider-item slider-fade slider-box">
            <a class="slider-link" href="{{ post.url | prepend: site.baseurl }}">
                <!-- Preview image -->
                <img class="slider-img" src="{{ site.baseurl }}/assets/covers/{{ post.imgname }}" />
                <!-- Caption -->
                <figcaption class="slider-title">{{ post.title }}</figcaption>
            </a>
        </div>
        {% endfor %}
        <!-- Navigation buttons -->
        <div class="slider-left" onclick="nextSlide(-1)">
            <span class="slider-left-arrow">❮</span>
        </div>
        <div class="slider-right" onclick="nextSlide(1)">
            <span class="slider-right-arrow">❯</span>
        </div>
    </main>

    <script type="text/javascript">
        var slide_index = 1;
        displaySlides(slide_index);

        function nextSlide(n) {
            displaySlides(slide_index += n);
        }

        function currentSlide(n) {
            displaySlides(slide_index = n);
        }

        function displaySlides(n) {
            var i;
            var slides = document.getElementsByClassName("slider-item");
            if (n > slides.length) { slide_index = 1 }
            if (n < 1) { slide_index = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[slide_index - 1].style.display = "block";
        }
    </script>
</body>

</html>
