---
layout: default
title: Gallery
---
<main class="container slider-container">
    <!-- List of items -->
    {% for post in site.posts %}
    <div class="slider-item slider-fade">
        <a class="slider-link" href="{{ post.url | prepend: site.baseurl }}">
            <div class="slider-subitem">
                <h2 class="slider-title">{{ post.title }}</h2>
                <!-- Preview image -->
                <img class="slider-img" src="{{ site.baseurl }}/assets/covers/{{ post.name }}.jpg" />
            </div>
        </a>
    </div>
    {% endfor %}
    <!-- Navigation buttons -->
    <div class="slider-left">
        <a class="slider-left-arrow" onclick="nextSlide(-1)">❮</a>
    </div>
    <div class="slider-right">
        <a class="slider-right-arrow" onclick="nextSlide(1)">❯</a>
    </div>
</main>